
<div>
    <form method="post">
        name: <input type="text" id="name" name="name" />
        code: <input type="text" id="code" name="code" />

              <input type="submit" value="Save" />

    </form>

    
</div>