
@model ECommerce.APP.Models.CategoryModel.CategoryEditVM

<div class="card card-primary">
    <div class="card-header">
        <h3>Category Create</h3>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="form-group">
                <label for="name">Category Name</label>
                <input asp-for="Name"  class="form-control" placeholder="Enter name">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input asp-for="Code" class="form-control" placeholder="Enter the category code">
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>